* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    place-items: center;
    overflow: hidden;
}

#road {
    background: url(assets/road.png) repeat-y;
    height: 2000vh;
    position: relative;
    top: -1000vh;
    width: 20vw;
    z-index: -20;
}
.startButton{
    
}
#start {
    position: relative;
    border-radius: 20px;
    font-size: 40px;
    text-decoration: none;
    top: 50vh;
    z-index: 50;
    color: white;
    background-color: rgb(141, 33, 33);
    cursor: pointer;
    padding: 3px;

}

.car {
    display: grid;
    place-items: center;
    position: relative;
    width: 33px;
    height: 50px;
    z-index: 100;
    top:-50vh;
}

@keyframes enemyCar1 {
    0%{
        top:-50vh;
    }
    100%{
        top: 90vh;
    }
}
@keyframes enemyCar2 {
    0%{
        top:-50vh;
    }
    100%{
        top: 90vh;
    }
}
@keyframes enemyCar3 {
    0%{
        top:-50vh;
    }
    100%{
        top: 90vh;
    }
}
@keyframes enemyCar4 {
    0%{
        top:-50vh;
    }
    100%{
        top: 90vh;
    }
}
@keyframes roadAnime {
    0%{
        top:-1200vh;
    }
    100%{
        top:-50vh
    }
    
}
#enemyCar1 {
    left: -58px;
}

#enemyCar2 {
    left: -21px;
}

#enemyCar3 {
    left: 21px;
}

#enemyCar4 {
    left: 58px;
}

#myCar {
    top: 38vh;
    display: grid;
    place-items: center;
    position: relative;
    width: 33px;
    height: 50px;
    z-index: 100;
}

#score {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 30px;
}

#highScore {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
}
.visibility{
    display: none;
}